.container {
}
body {
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Chat_compose {
  padding: 15px;
}
.App {
  display: flex;
  justify-content: center;
}

.App_chatwindow {
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  width: 70%;
  height: 100vh;
}

.msg {
  display: flex;
  margin-bottom: 10px;
}

.msg-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.right-msg {
  flex-direction: row-reverse;
}

.right-msg .msg-img {
  margin: 0 0 0 10px;
}

.Chat {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.messages {
  background-color: #fff8f1;
  flex: 1;
  padding: 1rem 1rem;
  overflow-y: scroll;
}

.message_wrapper-other {
  justify-content: flex-start;
}

.message_wrapper-self {
  justify-content: flex-end;
}

.message {
  border-radius: 0.5rem;
  padding: 10px 15px 10px 15px;
  min-width: 10vh;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.08);
  display: block;
  position: relative;
}

.message-other {
  background: #fefefe;
  background: linear-gradient(101.72deg, #ffc2b0 3.3%, #ffe1c8 96.68%);
  border-radius: 0px 22px 22px 16px;

  max-width: 70vh;
  word-break: break-all;
}

.message-self {
  background: linear-gradient(101.72deg, #ffe1c8 3.3%, #ffc2b0 96.68%);
  border-radius: 22px 0px 16px 22px;
  max-width: 70vh;
  word-break: break-all;
}

/* login  */
.Login {
  background: #f3f3f3;
  border-radius: 0.2rem;
  border: 1px solid #d0d0d0;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
  padding: 4.3rem;
  margin: auto;
}

.Login__title {
  color: #151515;
  font-size: 1.45rem;
  font-weight: lighter;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 2.5rem;
}
.button {
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  color: white;
  width: 13%;
  padding: 12px;
  text-align: center;
  background: linear-gradient(90deg, #ff545b 0%, #ff825b 100%);
  border-radius: 40px;
  margin-left: 5px;
}
.Login__button {
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  color: white;
  margin-bottom: 0.5rem;
  width: 20rem;
  padding: 1rem;
  text-align: center;

  background: linear-gradient(90deg, #ff545b 0%, #ff825b 100%);
  border-radius: 40px;
}
.message_wrapper_inner {
  margin-top: 10px;
}

.Login__button:hover {
  cursor: pointer;
  background: #ff825b;
}
.button:hover {
  cursor: pointer;
  background: #ff825b;
}
.Chat_compose_input {
  border-radius: 20px;
  height: 33px;
  width: 83%;
  border: 2px solid orange;
  padding-left: 10px;
}
input:focus {
  outline: none;
}
